@model FindMusic.ViewModels.EpisodeViewModels.CreateEpisodeViewModel

@{
	ViewData["Title"] = "Create Episode";
}

<div class="container mt-3">
	<h1><br>@Model.SeriesName | Season @Model.SeasonNumber</h1>
	<h2><br>Create Season<br></h2>

	<form method="post">
		<div asp-validation-summary="All" class="text-danger"></div>
		<partial name="_EpisodeFormFields" model="Model" />
		<button type="submit" class="btn btn-primary d-inline-block">Create</button>
		<a asp-action="Details" asp-controller="Season" asp-route-seriesSlug="@Model.SeriesSlug"
		   asp-route-number="@Model.SeasonNumber" class="btn btn-secondary">Cancel</a>
	</form>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}