@model FindMusic.ViewModels.TrackViewModels.CreateTrackViewModel

<partial name="_ContentInfo" model="Model.Content" />
<h2>At @Model.Timestamp.Hour h : @Model.Timestamp.Minute m : @Model.Timestamp.Second s</h2>