@model FindMusic.ViewModels.TrackViewModels.CreateTrackViewModel

@{
	ViewData["Title"] = "Add Track";
}

<div class="container mt-3">
	<partial name="_ContentInfoForTrack" model="Model" />

	<h2><br>Add Track<br></h2>
	<form method="post" asp-action="Create">
		<div asp-validation-summary="All" class="text-danger"></div>
		<partial name="_TrackFormFields" model="Model" />
		<button type="submit" class="btn btn-primary">Add</button>
		<partial name="_ContentDetailsButton" model="Model.Content" />
	</form>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}