@model FindMusic.ViewModels.TimestampViewModels.CreateTimestampViewModel

@{
	ViewData["Title"] = "Add Timestamp";
}

<div class="container mt-3">
	<partial name="_ContentInfo" model="Model.Content" />

	<h2><br>Add Timestamp<br></h2>
	<form method="post" asp-action="Create">
		<div asp-validation-summary="All" class="text-danger"></div>
		<partial name="_TimestampFormFields" model="Model" />
		<button type="submit" class="btn btn-primary">Add</button>
		<partial name="_ContentDetailsButton" model="Model.Content" />
	</form>
</div>

@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}